
body {
    background-color: tan;
}

.box {
    background-color: #3d4543;
    border-radius: 5px;
}

button.gray {
    color: white;
    background-color: #6f6f6f;
    border-bottom: black 2px solid;
    border-top: #6f6f6f 2px solid;
}

.gray:active {
    border-top: black 2px solid;
    border-bottom: #6f6f6f solid;
}

 button.pink {
     color: black;
     background-color: #ff4561;
     border-bottom: black 2px solid;
     border-top: #ff4561 2px solid;
}

.pink:active {
    border-top: black 2px solid;
    border-bottom: #ff4561 2px solid;
}

button.orange {
    color: black;
    background-color: #f93;
    border-bottom: black 2px solid;
    border-top: #ff9933 2px solid;
}

.orange:active {
    border-top: black 2px solid;
    border-bottom: #ff9933 2px solid;
}


button.black {
    color: white;
    background-color: #303030;
    border-bottom: black 2px solid;
    border-top: #303030 2px solid;
}

.black:active {
    border-top: black 2px solid;
    border-bottom: #303030 2px solid;
}


.display {
    background-color: #222;
    border-radius: 5px;
}

.display input {
    background-color: #bccd95;
}

.button {
    border: none;
    border-radius: 8px;
    border-top: 2px solid transparent;
    cursor: pointer;
}

.keys {
    margin-top: 13px;
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    padding: 10px 0;
    margin-top: 20px;
    width: auto;
    min-height: 60px;
    height: auto;
    color: #ffffff;
    background-color: #000000;
}

footer .author {
    margin-top: 15px;
}

footer i {
    color: #ffff;
    font-size: 20px;
    margin: 15px;
}

footer .fa-github:hover {
    color: #7a3090;
    transform:scale(1.25);
}

footer .fa-linkedin:hover {
    color: #0e76a8;
    transform:scale(1.25);
}

footer .fa-twitter:hover {
    color: #00acee;
    transform:scale(1.25);
}